<div class="row text-white h-50P">
  <div class="col-sm-4 ">
    <div class="card  bg-info ">
      <div class="card-body">
        <h5 class="card-title">Employee Management</h5>
        <p class="card-text"></p>
        <a routerLink="/employee" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="card bg-success">
      <div class="card-body">
        <h5 class="card-title">Inventory Management</h5>
        <p class="card-text"></p>
        <a routerLink="/inventory" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4  ">
    <div class="card bg-danger">
      <div class="card-body">
        <h5 class="card-title">Policies Management</h5>
        <p class="card-text"></p>
        <a routerLink="/policy" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>